.principal-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 20vh;
    background-color: var(--awb-custom_color_2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-movies {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.containerHome {
    display: flex;
    flex-direction: row;
    min-height: 70vh;
}

.web-view-movies {
    width: 20%;
    padding: 1em;
}

.content-movies {
    width: 100%;
}

.movies {
    width: 80%;
}

.inputText {
    height: 2em;
    border: 1px solid var(--awb-custom_color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(34, 82, 130, 0.2) 0px 8px 24px;
}

.search-button {
    padding: 0.5em;
    width: 6em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid transparent;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: var(--awb-custom_color);
    color: white;
}

.search-button:hover {
    background: var(--awb-custom_color_transparent);
    color: #fff;
    transition: 250ms;
    border: 1px solid white;
}

@media (max-width: 1300px) {
    .containerHome {
        flex-direction: column;
    }

    .web-view-movies {
        width: 90%;
        padding: 10px;
    }

    .movies {
        width: 100%;
    }

    .content-movies {
        place-content: center;
    }
}

.pagination-footer{
    width: 100%;
    display: flex;
    place-content: center;
}