.container-login {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-login>h2 {
    color: var(--awb-custom_color);
    position: absolute;
}


.form-login {
    background: white;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.form-style{
    width: 100%;
    margin: 5em;
}
.form {
    margin: 1em;
 text-align: initial;
}

.form>label {
    margin: 1em;
    color:  var(--awb-custom_color);
}

.form>input {
    text-align: center;
    height: 30px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
   
}

.form>select {
    text-align: center;
    height: 35px;
    width: 100%;
    border: 2px solid  var(--awb-custom_color_2);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}

.border-white {
    border: 2px solid var(--awb-custom_color_2) !important;
}

.border-danger {
    border: 2px solid red !important;
}
.Title{
    position: absolute;
    top: 150px;
}
.Title>i{
    font-size:60px;
    color: var(--awb-custom_color);
}

.login-button{
    padding: 0.5em;
    width: 8em;
    border-radius:15px;
    border: 1px solid var(--awb-custom_color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: var(--awb-custom_color);
    color: white;
}

.login-button:hover {
    background:#fff;
    color: var(--awb-custom_color);
    transition: 250ms;
    border: 1px solid var(--awb-custom_color);
}

.button-form{
    text-align: center;
}
@media (max-width: 1300px) {
    .form-login {
        width: 100%;
    }
}