.card{
    border: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 35vh;
    height: 45vh;
    margin: 1em;
}

.title-card {
    text-align: center;
    padding: 0.1em;
    color: var(--awb-custom_color)
}

.img-movie{
    text-align: center;
}

.img-movie > img{
    width: auto;
    max-width: 100%;
    height: 28vh;
    background-size: cover;
    background-position: center;
}

.genero{
    text-align: center;
    color: rgba(128, 128, 128, 0.775);
}

@media  (max-width: 1300px){
    .card{
        width: 25vh;
        height: 35vh; 
    }
    .img-movie > img{
        width: auto;
        max-width: 100%;
        height: 18vh;
    }
}