.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
body{
  margin: 0px;
}

:root{
  --awb-custom_color: #103c6b;
  --awb-custom_color_transparent: #103c6b9c;
  font-family: 'PT Serif', serif;
}

